<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PiPlug Tools"
            id="com.genuitec.piplug.tools.ui">
      </category>
      <view
            name="PiPlug Deploy"
            icon="icons/sample.gif"
            category="com.genuitec.piplug.tools.ui"
            class="com.genuitec.piplug.tools.ui.views.DeployView"
            id="com.genuitec.piplug.tools.ui.views.PiPlugDeployView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.genuitec.piplug.tools.ui.views.PiPlugDeployView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
