<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.genuitec.piplug.api.app">
      <piplug-app
            class="com.genuitec.piplug.app.clock.ClockUtility"
            img128="app128.png"
            img64="app64.png"
            name="Clock">
      </piplug-app>
   </extension>

</plugin>
